.chat-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.chat-window-container {
    min-height: 650px;
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.chat-userId {
    padding: 20px;
}


.chat-messages-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    padding-bottom: 70px;

}

.message-container {
    font-size: 14px;
    line-height: 19px;
    outline: none;
    width: fit-content;

    padding: 6px 7px 8px 9px;
    border-radius: 8px;
}

.message-other {
    background-color: #fff;
}

.message-me {
    align-self: flex-end;
    background-color: #DCF8C6;
}

.chat-messages-input {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 960px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chat-messages-input input {
    width: 100%;
    padding: 10px;
    height: 100%;
    border: 2px solid #ECE5DD;
    outline: none;
    border-radius: 8px;
    overflow: hidden;
    font-size: 14px;
    resize: none;
}

.chat-messages-input input:focus {
    border: 2px solid #DCF8C6;
    outline: none;
}

