.chat-container {
    height: 100%;
    width: 60vw;
    display: flex;
    flex-direction: column;
}

.chat-userId {
    padding: 25px;
    opacity: 0.5;
    font-size: 14px;
}

.chat-window-container {
    height: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
}

.chat-messages-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 15px;
}

.message-container {
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 20px;
    width: fit-content;
}

.message-other {
    background-color: #fff;
}

.message-me {
    align-self: flex-end;
    background-color: #dcf8c6;
}

.chat-messages-input {
    margin-bottom: 20px;
}

.chat-messages-input input {
    box-shadow: 0 0 5px rgba(33, 33, 33, 0.2);
}

.chat-messages-input button {
    box-shadow: 0 0 5px rgba(33, 33, 33, 0.2);
}
