.users-list-area {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.users-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: auto;
    min-width: 400px;
    padding: 15px;
    overflow-y: scroll;
}

.users-input {
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.users-input input {
    min-width: 100%;
    padding: 10px;
    height: 100%;
    border: 2px solid #ECE5DD;
    outline: none;
    border-radius: 8px;
    overflow: hidden;
    font-size: 14px;
    resize: none;
}

.user-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    min-width: 200px;
    max-width: 350px;
    padding: 15px;


}

.user-container img {
    border-radius: 50%;
}