.users-list-area {
    font-size: 18px;
    background-color: #fff;
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 50px;
    gap: 10px;
}

.users-input input {
    border: 2px solid #ece5dd;
}

.users-input button {
    border: 2px solid #ece5dd;
    border-left: none;
}

.users-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-container {
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    padding: 20px 10px;
    cursor: pointer;
    opacity: 0.8;
    transition: box-shadow 0.4s;
    border-radius: 8px;
    gap: 20px;
    width: 100%;
}

.user-container:hover {
    border: 2px solid #ece5dd;
    opacity: 1;
    box-shadow: 0 0 5px rgba(33, 33, 33, 0.2);
}

.user-container img {
    border-radius: 50%;
}

.user-container-active {
    border: 2px solid #ece5dd;
}
